/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #121212 !important;
}
.mapboxgl-popup-content {
    background: #171717 !important;
    padding: 25px 5px !important;
}
.mapboxgl-popup-close-button {
    right: 10px !important;
    top: 5px !important;
    color: white !important;
}
.mapboxgl-popup-content {
    border-radius: 15px !important;
}
.mapboxgl-popup {
    z-index: 99 !important;
}
